@import "libs/fonts";
*{
    box-sizing: border-box;
    font-family: 'FiraSansExtraCondensed', sans-serif;
}
html{
    margin: 0;
    width: fit-content;
}
body{
    margin: 0 auto;
    width: 1350px;
    overflow-x: hidden;
}
.container{
    width: 1350px;
    display: block;
    margin: 0 auto;
}

.modal{
    position: relative;
    &_contact{
        position: fixed;
        top: 20%;
        left: 35%;
        z-index: 15;
        top: 20%;
        left: 35%;
        margin: 0 auto; 
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border: 3px solid #000;
        background-color: #fff;
        display: none;
        &_close{
            font-size: 70px;
            position: absolute;
            right: -50px;
            top: -35px;
            cursor: pointer;
            color: #fff;
        }
        &_form{
            display: flex;
            flex-direction: column;
            input{
                width: 250px;
                height: 50px;
                padding: 15px;
                margin: 20px;
                font-size: 22px;
            }
        }
        &_btn{
            width: 150px;
            height: 40px;
            background-color: #8b37c3;
            border: none;
            border-radius: 5px;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            cursor: pointer;
            margin: 0 auto;
        }
        &_title{
            font-size: 30px;
            margin-top: 30px;
        }
    }
}

@import "blocks/rock";
@import "vars/animations";
@import "blocks/hip-hop";
@import "blocks/pop";
@import "media/_media";