*{
    box-sizing: border-box;
    font-family: 'FiraSansExtraCondensed', sans-serif;
}
body{
    overflow-x: hidden;
    margin: 0;
    width: 1350px;
}
.container{
    width: 1350px;
    display: block;
    margin: 0 auto;
}

@import "blocks/rock";
@import "vars/animations";
@import "blocks/hip-hop";
@import "blocks/pop";
@import "media/media";