@media (max-width: 1024px){
    .container, body{
        width: 1007px;
    }
    .promo{
        &_arrow_next, &_arrow_prev{
            top: 150px;
            left: 100px;
        }
        &_arrow_next{
            left: inherit;
            right: 100px;
        }
        &_header{
            height: 60px;
            &_hover{
                height: 60px;
            }
            &_link{
                font-size: 20px;
            }
        }
        &_content{
            &_descr{
                margin-top: 10px;
            }
            &_title{
                font-size: 30px;
            }
            height: 350px;
            img{
                height: 350px;
            }
            &_text{
                font-size: 16px;
                height: 150px;
            }
        }
        &_descr{
            width: 70%;
            font-size: 22px;
            margin-top: 20px;
        }
        &_slider{
            padding-top: 50px;
        }
    }
    .hip{
        &_subtitle{
            width: 70%;
            font-size: 24px;
        }
        &_item, &__img{
            width: 450px;
            height: 300px;
        }
        &_img{
            img{
                width: 450px;
                height: 300px;
            }
        }
        &_tablink{
            padding: 0px 20px;
            font-size: 30px;
        }
        &_text{
            padding: 50px 50px 100px 50px;
            &_descr{
                font-size: 15px;
            }
            &_title{
                font-size: 35px;
            }
        }
    }
    .pop{
        padding-top: 40px;
        &_text{
            width: 70%;
        }
        &_title{
            font-size: 60px;
        }
        &_carousel{
            &_img {
                img{
                    width: 1007px;
                    height: 500px;
                }
            }
            &_btn, &_closein{
                font-size: 28px;
                width: 200px;
                height: 40px;
            }
            &_wrap{
                :hover{
                    font-size: 30px;
                }
            }
            &_info{
                bottom: 90px;
                left: 195px;
                font-size: 14px;
                padding: 15px;
                width: 200px;
            }
        }  
        &_wrapper{
            width: 1007px;
            height: 500px;
            margin-top: 50px;
        }
        &_arrow_prev, &_arrow_next{
            height: 500px;
            padding: 0 10px;
            font-size: 100px;
        }
    }
    #days, #hours, #minutes, #seconds{
        font-size: 90px;
        padding: 0px 10px;
    }
    .timer{
        span{
            margin-bottom: 50px;
            font-size: 90px;
        }
        &_descr{
            font-size: 30px;
        }
        &_block{
            width: 150px;
        }
    }
}
@media (max-width: 1024px){
    .container, body{
        width: 751px;
    }
    .promo{
        padding-bottom: 50px;
        min-height: 600px;
        &_arrow_next, &_arrow_prev{
            top: 140px;
            left: 60px;
            font-size: 70px;
        }
        &_arrow_next{
            left: inherit;
            right: 60px;
        }
        &_header{
            height: 60px;
            &_hover{
                height: 60px;
            }
            &_link{
                font-size: 20px;
            }
        }
        &_content{
            &_descr{
                margin-top: 10px;
            }
            &_title{
                font-size: 25px;
                margin-top: 10px;
            }
            height: 250px;
            img{
                height: 250px;
            }
            &_text{
                font-size: 14px;
                height: 120px;
            }
        }
        &_descr{
            width: 70%;
            font-size: 16px;
            margin-top: 20px;
        }
        &_slider{
            padding-top: 50px;
        }
        &_title{
            font-size: 40px;
            margin-top: 20px;
        }
    }
    .hip{
        min-height: 800px;
        padding-top: 30px;
        &_title{
            font-size: 40px;
        }
        &_subtitle{
            width: 70%;
            font-size: 20px;
        }
        &_tabs{
            margin-top: 30px;
        }
        &_item, &__img{
            width: 300px;
            height: 200px;
        }
        &_img{
            img{
                width: 300px;
                height: 200px;
            }
        }
        &_tablink{
            padding: 0px 20px;
            font-size: 20px;
        }
        &_text{
            padding: 50px 50px 100px 50px;
            &_descr{
                font-size: 10px;
                margin-top: 10px;
            }
            &_title{
                font-size: 25px;
            }
        }
    }
    .pop{
        padding-top: 40px;
        min-height: 800px;
        &_text{
            width: 70%;
            font-size: 20px;
        }
        &_title{
            font-size: 40px;
        }
        &_carousel{
            &_title{
                font-size: 40px;
            }
            &_img {
                img{
                    width: 751px;
                    height: 400px;
                }
            }
            &_btn, &_closein{
                font-size: 20px;
                width: 170px;
                height: 30px;
            }
            &_wrap{
                :hover{
                    font-size: 22px;
                }
            }
            &_info{
                bottom: 80px;
                left: 195px;
                font-size: 14px;
                padding: 15px;
                width: 170px;
                border: none;
            }
        }  
        &_wrapper{
            width: 751px;
            height: 400px;
            margin-top: 50px;
        }
        &_arrow_prev, &_arrow_next{
            height: 400px;
            padding: 0 10px;
            font-size: 100px;
        }
    }
    #days, #hours, #minutes, #seconds{
        font-size: 90px;
        padding: 0px 10px;
    }
    .timer{
        margin-top: 50px;
        span{
            margin-bottom: 50px;
            font-size: 90px;
        }
        &_descr{
            font-size: 30px;
        }
        &_block{
            width: 150px;
        }
    }
}