.hip{
    min-height: 1500px;
    background: url(../images/bg/bg_2.jpg) center center/cover no-repeat;
    padding-top: 80px;
    color: #fff;
    &_title{
        font-size: 60px;
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
    }
    &_subtitle{
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
        width: 1300px;
        display: block;
        margin: 0 auto;
    }
    &_tabs{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &_tabnav{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        :hover{
            text-shadow: 0 0 30px rgb(163, 17, 17);
        }
        :last-child{
            border-right: none;
        }
    }
    &_tablink{
        border-right: 4px solid rgb(163, 17, 17);
        cursor: pointer;
        text-transform: uppercase;
        list-style-type: none;
        padding: 0 100px;
        font-size: 50px;
    }
    &_tabcontent{
        display: flex;
        justify-content: center;
    }
    &_item{
        border-radius: 20px;
        background: url(../../images/hip-hop_fon.jpg) center center/ cover no-repeat;
        margin: 20px;
        width: 800px;
        height: 500px;
    }
    &_img{
        :hover{
            box-shadow: 0 0 50px black;
        }
        img{
            border-radius: 20px;
            width: 800px;
            height: 500px;
        }
    }
    &_text{
        text-align: center;
        padding: 95px 100px 100px 95px;
        background-color: rgba(0,0,0,0.6);
        height: 100%;
        width: 100%;
        border-radius: 20px;
        &_title{
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 5px;
            text-align: center;
        }
        &_descr{
            margin-top: 25px;
            font-size: 30px;
            color: rgb(255, 255, 255);
        }
    }
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    &_block{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 240px;
    }
    &_descr{
        text-transform: uppercase;
        font-size: 50px;
        color: saddlebrown;
        text-shadow: 0 0 3px white;
    }
    span{
        font-size: 180px;
        color: saddlebrown;
        margin-bottom: 80px;
    }
}
#days, #hours, #minutes, #seconds{
    font-size: 180px;
    color: saddlebrown;
    text-shadow: 0 0 10px white;
    padding: 0 60px;
}